
body {
    background-image: url(Resources/Images/housing.jpg);
    background-repeat: no-repeat;
    background-size: 100% 20%;
}

.navbar {
    background-color: black;
}

#nav-text {
    font-size: 20px;
    color: white;
}

#header-box {
    border-top: 9px solid black;
    margin-top: 150px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    background-color: whitesmoke;
}

#header-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    padding-bottom: 15px;
}

#map-id { 
    height: 500px;
    width: 1110px;
}

.well {
    margin-top: 30px;
    padding-bottom: 31px;
    padding-left: 30px;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.well > h5 {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.form-row {
    margin-top: 31px;
    margin-right: 25px;
    padding-top: 23px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 180px;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 15px;
}

#search-box-text {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.card {
    margin-top: 90px;
    margin-left: 150px;
}

.card-header {
    font-weight: bold; 
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-body {
    background-color: whitesmoke;
    color: black;
}

#bar {
    margin-top: 90px;
}

#scatter {
    margin-left: 110px;
}

.autocomplete {
    background: white;
    z-index: 1000;
    font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
    font: inherit;
}

.autocomplete > div {
    padding: 0 4px;
}

.autocomplete .group {
    background: #eee;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background: #81ca91;
    cursor: pointer;
}

.tooltip {
    padding: 20px;
    border-radius: 25px;
    width: 200px;
    height: 180px;
    background-color: whitesmoke;
    border: solid 0.5px #007bff;
    text-align: center
}